<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="row">
      <a href="/authenticate/google" class="btn btn-block btn-danger"><i class="fab fa-google"></i> Login with Google</a>
      </div>
    </div>
  </div>
</div>