{{#each weather as | day |}}
<li>
{{day.date}}
{{day.lluvia}}, {{day.nubes}}, {{day.temperatura}}
</li>
{{/each}}

{{!-- 
captar la localización del usuario
res.body.ubicacion localización del municipio del usuario
la busqueda en API de AEMET
y devolvemos la prección de los 7 días siguientes --}}
