<!DOCTYPE html>
<html>

<head>
  <title>ClimApp</title>
  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> --}}
  <script src="/javascripts/jquerymin.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  {{>navbar }}
  {{{ body }}}
</body>

<script>

  $(document).ready(function () {
    console.log('entra')
    $.ajaxSetup({ cache: false });
    $('#search').keyup(function () {
      $('#result').html('');
      $('#state').val('');
      var searchField = $('#search').val();
      var expression = new RegExp(searchField, "i");
      if (searchField.length >= 3) {
        console.log(expression)
        $.getJSON('/search', function (data) {
          const dataMod = (Object.keys(data)).map(city => ({ name: city }))


          const filtered = dataMod.filter(elem => elem.name.includes(searchField));

          filtered.forEach(elem => {
            $('#result').append(`<li class="list-group-item link-class">${elem.name}</span></li>`);
          })




          //    var array1 = ['a', 'b', 'c'];

          //array1.forEach(function(element) {
          //  console.log(element);
          //});

        });
      }
    });

    $('#result').on('click', 'li', function () {
      var click_text = $(this).text().split('|');
      $('#search').val($.trim(click_text[0]));
      $("#result").html('');
    });
  });


</script>


</html>