<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Selecciona tu actividad</h1>
    <p class="lead"></p>
    {{!-- {{>user/forecast weather=weather location=location}} --}}
    <form action="/userSearch" method="POST">

      <p>Date: <input type="text" id="datepicker" name="day" autocomplete="off" placeholder="YYYY/MM/DD"></p>

      <select class="select-style" type="text" id="rainSearch" name="rainSearch">
        <option value="" disabled selected> Selecciona probabilidad de lluvia</option>
        <option value="0">Sin lluvia</option>
        <option value="1">Lluvia moderada</option>
        <option value="2">Lluvia intensa</option>
        <option value="3">Terremoto</option>
      </select>

      <select class="select-style" name="completeSearch" id="">
        <option value="Hotel">Hotel</option>
        <option value="Casa rural">Casa rural</option>
        <option value="Multiaventura">Multiaventura</option>
        <option value="Padel">Padel</option>
        <option value="Rutas senderismo">Rutas senderismo</option>
      </select>

      <input type="submit" class="btn btn-info">
    </form>
  </div>
</div>
<div>
  <div class="titulo">
    <h2>Aquí tienes algunas ideas!</h2>
  </div>

  <div class="search">
    <div class="card results defined">
      <div class="card-body">
        <p class="card-title"><b>
            <h4>Día de Padel </h4>
          </b></p>

        <p class="card-text">
          <form action="/userSearch" method="POST">

            <p>Date: <input type="text" id="datepicker" name="day" autocomplete="on" placeholder="YYYY/MM/DD"></p>

        
              <select type="text" id="rainSearch" name="rainSearch">
                <option value="0" selected>Sin lluvia</option>
              </select>

              <select name="completeSearch" id="">
                <option value="Padel" selected>Padel</option>
              </select>
           

            <button type="submit" class="boton btn btn-success">me encanta!</button>
          </form>
      </div>
    </div>
    <div class="card results defined">
      <div class="card-body">
        <p class="card-title"><b>
            <h4>Casa rural</h4>
          </b></p>

        <p class="card-text">
          <form action="/userSearch" method="POST">

            <p>Date: <input type="text" id="datepicker" name="day" autocomplete="on" placeholder="YYYY/MM/DD"></p>

      
              <select type="text" id="rainSearch" name="rainSearch">
                <option value="0" selected>Sin lluvia</option>
              </select>
              <select name="completeSearch" id="">
                <option value="Casa rural" selected>Casa rural</option>
              </select>
      
            <button type="submit" class="boton btn btn-success">me encanta!</button>
          </form>
      </div>
    </div>

    <div class="card results defined">

      <div class="card-body">
        <p class="card-title"><b>
            <h4>Dia de Multiaventura</h4>
          </b></p>

        <p class="card-text">
          <form action="/userSearch" method="POST">

            <p>Date: <input type="text" id="datepicker" name="day" autocomplete="on" placeholder="YYYY/MM/DD"></p>

              <select type="text" id="rainSearch" name="rainSearch">
                <option value="0" selected>Sin lluvia</option>
              </select>
              <select name="completeSearch" id="">
                <option value="Multiaventura" selected>Multiavenntura</option>
              </select>
 
            <button type="submit" class="boton btn btn-success">me encanta!</button>
          </form>
      </div>

    </div>
  </div>
</div>