<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Selecciona tu actividad</h1>
    <p class="lead"></p>
    {{!-- {{>user/forecast weather=weather location=location}} --}}
    <form action="/userSearch" method="POST">
   
      <p>Date: <input type="text" id="datepicker" name="day" autocomplete="off" placeholder="YYYY/MM/DD"></p>

      <select type="text" id="rainSearch" name="rainSearch">
        <option value="" disabled selected> Selecciona probabilidad de lluvia</option>
        <option value="0">Sin lluvia</option>
        <option value="1">Lluvia moderada</option>
        <option value="2">Lluvia intensa</option>
        <option value="3">Terremoto</option>
      </select>

      <select name="completeSearch" id="">
        <option value="Hotel">Hotel</option>
        <option value="Casa rural">Casa rural</option>
        <option value="Multiaventura">Multiaventura</option>
        <option value="Padel">Padel</option>
        <option value="Rutas senderismo">Rutas senderismo</option>
      </select>

      <input type="submit" class="btn btn-info">
    </form>
  </div>
</div>